.listados{
    border-radius: 5px;
    border: 2px solid #888;
    padding: 10px;
    height: 70px;
}
span {
	color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration : underline;
	font-style : italic;
}
.labelFechaHora{		
		font-style : italic;
		padding-left: 10px;
}
.limpiar{
    clear:both;
}